body {
  background-color: lightgray;
}

.external {
  margin: 0 1em;
}

.taskName {
  margin-right: 0.5em;
}

.crossOut {
  color: green;
  text-decoration-line: line-through;
}

.button {
  margin-left: 1rem;
}

.bt {
  width: 5rem;
  line-height: 2rem;
  margin: 0.1rem 0.5rem;
  color: white;
  border-radius: 5px;
}

.btRed {
  background-color: crimson;
  border: 1px solid red;
}

.btGreen {
  background-color: green;
  border: 1px solid darkgreen;
}

.bar {
  text-align: center;
  background-color: darkslategrey;
  padding: 10px;
}

.panel {
  padding: 10px;
  display: flex;
}

.block {
  flex: 1 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid darkgray;
}

.blockRed {
  background-color: pink;
  border: 1px solid deeppink;
  color: deeppink;
}

.playerScore {
  font-size: 2rem;
  font-weight: bold;
}

.control {
  font-size: 1.3rem;
}

.score {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.rollResult {
  color: white;
  background-color: gray;
  text-align: center;
  width: 4rem;
  line-height: 4rem;
  border: 1px inset;
}

.barTwoSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightblue;
  font-weight: bold;
}

.btBar {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid lightblue;
  color: lightblue;
  font-weight: bold;
  border-radius: 5px;
  line-height: 2rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
}

#search {
  line-height: 2rem;
  border-radius: 5px;
  padding: 0 0.7rem;
}

.container {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.list {
  flex: 1 1;
  margin: 10px;
  background-color: aliceblue;
  border: 2px solid darkgray;
  border-radius: 5px;
}

.label {
  background-color: lightgrey;
  line-height: 3rem;
  font-weight: bold;
  padding: 0 1rem;
}

.item {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1 0;
}

.text :first-child {
  font-weight: bold ;
}

.text :last-child {
  font-size: 0.8rem;
}

.btns {
  flex: 0 1 148px;
  text-align: right;
}

.btn {
  line-height: 1.4rem;
}

.btn svg {
  position: relative;
  transform: translate(0px, 2px);
}

.btn-edit {
  color: blue;
  border: 1px solid blue;
  border-radius: 5px 0 0 5px;
}

.btn-del {
  color: crimson;
  border: 1px solid crimson;
}

.btn-3 {
  color: darkcyan;
  border: 1px solid darkcyan;
}

.btn-4 {
  color: green;
  border: 1px solid green;
  border-radius: 0 5px 5px 0;
}